<inc-toolbar  defHref="/main/"  ></inc-toolbar>
<ion-content>
  <ion-toolbar style="position: fixed;">
    <ion-title>{{'PATIENT_DETAILS' | translate}}</ion-title>
  </ion-toolbar>
 

  <inc-container>
    <br>
    <br>
    <br>

    <ion-grid class="g" style="width: 100%; display: inline-flex;">

      <ion-button expand="flex" style="text-transform: initial; position: relative;" class="but1"
        (click)="beforeDay()">
        <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
      <mat-form-field expand="flex" 
        style="text-transform: initial; text-align: center;position: relative; width: 100%;">
        <input matInput [matDatepicker]="picker" (dateInput)="addEvent($event)" (dateChange)="addEvent($event)"
          [value]="start" (click)="addEvent($event)" >
        <mat-datepicker-toggle color="primary" matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker>
        </mat-datepicker>
      </mat-form-field>
      <ion-button class="but2" expand="flex" style="text-transform: initial;position: relative;" (click)="nextDay()">
        <ion-icon name="arrow-forward-outline"></ion-icon>   
         </ion-button>
        </ion-grid>

    <inc-err-no-data subjectName="étkezés rögzitve" noDesc="true" *ngIf=" userFoods == 0">

    </inc-err-no-data>
    <inc-page-loader [loading]="!loading"></inc-page-loader>


 <div *ngIf= "show">

  <ion-card class="chart1">

    <canvas   id="myChart" class="chart1" height="30%" width="100%" style="display: flex ; position: relative"
    ></canvas>
    </ion-card>
    <ion-card  *ngFor="let meals of Meats, let i = index">

      <ion-card-header style="width: 100%" col-3 text-left style="position: relative">
        <ion-card-title>
          <ion-label>
          {{meals.label | translate}}
          </ion-label>
        </ion-card-title>
      </ion-card-header>
      <ion-card-subtitle>
        <ion-row class="c1" style="width: 100% ; position: relative ; text-align: -webkit-center;">

          <ion-col style="width: 100%" col-3 text-center style="position: relative">
            <ion-label >
              <h1   style=" font-size:15px ;color:black; font-weight: 500;" >
                {{'FOOD' | translate}}
              </h1>
              </ion-label>
          </ion-col>

          <ion-col style="width: 100%" col-3 text-center style="position: relative">

            <ion-label>

              <h1   style=" font-size:15px ;color:black; font-weight: 500;" >
                {{'QUANTITY' | translate}}

              </h1>

            </ion-label>
          </ion-col>

          <ion-col style="width: 100%" col-3 text-center style="position: relative">
            <div>
              <ion-label>
                <h1   style=" font-size:15px ;color:black; font-weight: 500;" >
                  {{'ENERGIE' | translate}}

                </h1>
                
              </ion-label>
            </div>
          </ion-col>
          <ion-col style="width: 100%" col-3 text-center style="position: relative">
            <div>
              <ion-label >
                <h1   style=" font-size:15px ;color:black; font-weight: 500;" >
                  {{'PROTEIN' | translate}}

                </h1>
              </ion-label>
            </div>
          </ion-col>
          <ion-col style="width: 100%" col-3 text-center style="position: relative">
            <div>
              <ion-label >
                <h1   style=" font-size:15px ;color:black; font-weight: 500;" >
                  {{'CARBONHYDRATE' | translate}}

                </h1>
                
              </ion-label>
            </div>
          </ion-col>
          <ion-col style="width: 100%" col-3 text-center style="position: relative">
            <div>
              <ion-label  >
                <h1   style=" font-size:15px ;color:black; font-weight: 500;" >
                  {{'FAT' | translate}}

                </h1>
              </ion-label >
            </div>
          </ion-col>       
        </ion-row>
        <ion-row class="c2" *ngFor="let value of meals.values" style="width: 100%" style="position: relative ; text-align: -webkit-center;">

          <ion-col style="width: 100%" col-3 text-center style="position: relative">
            <div>
              <ion-label >
                <h3 text-center  style=" font-size:13px ;color:black; font-weight: 400;">
                  {{ value.valueString }}
                </h3>
              </ion-label>
            </div>
          </ion-col>
          <ion-col style="width: 100%" col-3 text-center style="position: relative">
            <div>
              <ion-label>
                <h3 style=" font-size:13px ;color:black; font-weight: 400;">
                  {{ value.component[0].valueQuantity.value  }} g
                </h3>
              </ion-label>
            </div>
          </ion-col>
          <ion-col style="width: 100%" col-3 text-center style="position: relative">
            <div>
              <ion-label>
                <h3  text-center style=" font-size:13px ;color:black; font-weight: 400;">
                  {{ value.component[1].valueQuantity.value |  number:'1.1-2'}} kcal
                </h3>
              </ion-label>
            </div>
          </ion-col>
          <ion-col style="width: 100%" col-3 text-center style="position: relative">
            <div>
              <ion-label>
                <h3 text-center style=" font-size:13px ;color:black; font-weight: 400;">
                  {{ value.component[2].valueQuantity.value |  number:'1.1-2' }} g
                </h3>
              </ion-label>
            </div>
          </ion-col>
          <ion-col style="width: 100%" col-3 text-center style="position: relative">
            <div>
              <ion-label>
                <h3 text-center  style=" font-size:13px ;color:black; font-weight: 400;">
                  {{ value.component[3].valueQuantity.value |  number:'1.1-2'}} g
                </h3>
              </ion-label>
            </div>
          </ion-col>
          <ion-col style="width: 100%" col-3 text-center style="position: relative">
            <div>
              <ion-label>
                <h3  text-center style=" font-size:13px ;color:black; font-weight: 400;">
                  {{ value.component[4].valueQuantity.value |  number:'1.1-2'}} g
                </h3>
              </ion-label>
            </div>
          </ion-col>
          

        </ion-row>

      </ion-card-subtitle>
    </ion-card>
  </div>
  </inc-container>
</ion-content>