@media(max-width: 500px){

     .i1{
         width: 100% !important;
     }
        .r1 {
            display: contents;
        }

        .r2 {
            display: contents;
        }
        .r3 {
            display: contents;
        }
        .r4 {
            display: contents;
        }
        .r5 {
            display: contents;
        }
}