* {
    font-family: sans-serif; /* Change your font family */
  }
  
  .content-table {
    border-collapse: collapse;
    position: relative;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr   {
    background-color: #1976d2;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  

  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #1976d2;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #1976d2;
  }
  
  @media(max-width: 500px){
	.content-table  thead tr{
        display: grid;
        min-width: 100%;
        text-align-last: start;	
    }
 	.content-table , .content-table  tbody, .content-table  tr, .content-table  td {
		display: inline-table;
        width: 100%;
        text-align-last: start;
	}
	.content-table  tr{
		margin-bottom:15px;
	}
	.content-table  td , thead{
		text-align: center;
		padding-left: 50%;
		text-align: center;
		position: relative;
	}
	.content-table  td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
  }
  
  .r1 {
		display: grid;
    width: 100%;

  }
  .r2 {
		display: grid;
    width: 100%;


  }

  .i1{
		display: contents;
  }
  .i2{
		display: contents;
  }
  .i3{
		display: contents;
  }
  .i4{
		display: contents;
  }

  .b1 {
    width: 100%;
  }
}