

  @media(max-width: 500px){

  .c1 {
    display: contents;
    width: 100%;

  }
  .c2 {
    display: contents;
    width: 100%;

  }  .c3 {
    display: contents;
    width: 100%;

  }  .c4 {
    display: contents;
    width: 100%;

  }  .c5 {
    display: contents;
    width: 100%;

  }  .c6 {
    display: contents;
    width: 100%;

  } 
  .r1{
    display: grid;
  }
  .r2{
    display: grid;
  }
  .r3{
    display: grid;
  }

  .r4{
    display: grid;
  }



  }
  
